*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Libre Baskerville";
    text-align: center;
    background-color: #BDBFAA;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#display{
    color: #D94B18;
    font-size: 120px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

button{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    font-family: "Libre Baskerville";
    background-color: #D94B18;
    border-color: #D94B18;
    color: #F2EBDC;
    margin-bottom: 130px;
    
}

h1{
    color: #D94B18;
    font-size: 80px;
    font-family: "Cardo";
    margin-top: 10px;
    padding: 100px;
    
}

.container{
    background-color: #F2EBDC;
    border-radius: 10px;

}